body{
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
}



/*Navbar*/
.navbar {
     min-height: 5rem; 
    background-color:white;
}


.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}
/* .dropdown-menu {
  position: absolute;
  z-index: 9999;
} */
/* Footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info {
    text-align: center;
    height:min-content;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARD */
.card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    width: 100%;
    object-fit: cover;
    border-radius: .7rem;
}
.card-body{
    padding-left: 0.5rem;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
    transition: all ease-out 0.2;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* NEW PAGE */

.add-btn{
    background-color: #fe424d;
    border: none;
}

/* EDIT PAGE */

.edit-btn{
    background-color: #fe424d;
    border: none;
    color: white;
}
